@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');

body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
}
