.edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.teaser {
  display: flex;
  font-size: 100px;
  padding: 100px 300px;
  height: 600px;
  text-align: center;
  align-items: center;
}

.mock {
  width: 2000px;
  position: absolute;
  top: 684px;
}

.screenshot {
  width: 1868px;
  position: absolute;
  top: 750px;
}
