.teaser {
  display: flex;
  font-size: 100px;
  padding: 100px;
  height: 600px;
  text-align: center;
  align-items: center;
}

.mock {
  width: 1100px;
  position: absolute;
  left: 0px;
  top: 800px;
  transform: rotate(10deg);
}

.screenshot {
  width: 992px;
  position: absolute;
  left: 52px;
  top: 848px;
  border-radius: 40px;
  transform: rotate(10deg);
}
