.teaser {
  display: flex;
  font-size: 100px;
  padding: 100px;
  height: 600px;
  text-align: center;
  align-items: center;
}

.mock {
  width: 1100px;
  position: absolute;
  left: 96px;
  top: 800px;
}

.screenshot {
  width: 992px;
  position: absolute;
  left: 150px;
  top: 840px;
  border-radius: 40px;
}
