.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.teaser {
  font-size: 100px;
  width: 2000px;
  position: absolute;
  left: 100px;
  top: 100px;
}

.mock {
  width: 2000px;
  position: absolute;
  right: 100px;
  bottom: 100px;
}

.screenshot {
  width: 1400px;
  position: absolute;
  left: 1080px;
  top: 530px;
}
