body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
}

// Overview page styles
.overview-page {
  padding: 20px;
}

.overview-controls {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;

  label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
  }

  select {
    padding: 8px 12px;
    font-size: 14px;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    min-width: 120px;

    &:hover {
      border-color: #999;
    }

    &:focus {
      outline: none;
      border-color: #0080FC;
      box-shadow: 0 0 0 2px rgba(0, 128, 252, 0.2);
    }
  }
}

.overview-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.overview-device {
  h2 {
    margin: 0 0 15px 0;
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
  }
}

.overview-screens {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.overview-screen-wrapper {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.overview-screen-scaled {
  width: fit-content;
  height: fit-content;
}

.device h2 {
  margin: 10px;
}

.device .language {
  display: flex;
  flex-wrap: wrap;
}

iframe {
  margin: 10px;
  border: none;
}

.screen {
  background: #0080FC;
  color: white;
}

.features {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.features-sidebyside {
  display: flex;

  .features {
    flex: 1 1 0;
    width: 0;
  }
}

.features-title {
  text-align: center;
}

.feature {
  display: flex;
}

.features-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  margin-bottom: 60px;
}

.feature-icon {
  display: flex;
  justify-content: center;
}

.iphone67 {
  .teaser {
    display: flex;
    font-size: 50px;
    padding: 50px;
    text-align: center;
    align-items: center;
  }

  .overview {
    .teaser {
      height: 300px;
    }

    .mock {
      width: 550px;
      position: absolute;
      left: 0px;
      top: 400px;
      transform: rotate(10deg);
    }

    .screenshot {
      width: 496px;
      position: absolute;
      left: 26px;
      top: 424px;
      border-radius: 20px;
      transform: rotate(10deg);
    }
  }

  .detail {
    .teaser {
      height: 300px;
    }

    .mock {
      width: 550px;
      position: absolute;
      left: 48px;
      top: 200px;
    }

    .screenshot {
      width: 496px;
      position: absolute;
      left: 76px;
      top: 224px;
      border-radius: 20px;
    }
  }

  .edit {
    .teaser {
      height: 300px;
    }

    .mock {
      width: 550px;
      position: absolute;
      left: 48px;
      top: 400px;
    }

    .screenshot {
      width: 496px;
      position: absolute;
      left: 76px;
      top: 424px;
      border-radius: 20px;
    }
  }

  .features-title {
    font-size: 58px;
    font-weight: 400;
    margin: 40px 0 20px;
  }

  .features {
    padding: 20px;
  }

  .feature {
    margin-top: 40px;
    padding-right: 5px;
  }

  .feature-icon {
    font-size: 70px;
    min-width: 100px;
    padding-top: 20px;
  }

  .feature-details {
    margin-left: 40px;
  }

  .feature-title {
    font-weight: 400;
    font-size: 38px;
    margin-bottom: 5px;
  }

  .feature-description {
    font-size: 32px;
  }
}

.ipad129 {
  .teaser {
    font-size: 50px;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 1000px;
  }

  .logo {
    position: absolute;
    left: 50px;
    bottom: 50px;
  }

  .overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .teaser {
      height: 200px;
    }

    .mock {
      width: 1000px;
      position: absolute;
      top: 342px;
    }

    .screenshot {
      width: 934px;
      position: absolute;
      top: 375px;
    }

    .border {
      width: 228px;
      height: 70px;
      position: absolute;
      top: 484px;
      left: 224px;
      border: 5px solid #0083FB;
      // rounded corners
      border-radius: 7px;
    }
  }

  .edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .teaser {
      height: 200px;
    }

    .mock {
      width: 1000px;
      position: absolute;
      top: 342px;
    }

    .screenshot {
      width: 934px;
      position: absolute;
      top: 375px;
    }
  }

  .features-sidebyside {
    padding: 10px;
  }

  .features-title {
    font-size: 50px;
    font-weight: 400;
    margin: 25px 20px 10px;
  }

  .features {
    padding: 10px;
  }

  .feature {
    margin-top: 25px;
  }

  .feature-icon {
    font-size: 60px;
    min-width: 90px;
    padding-top: 20px;
  }

  .feature-details {
    margin-left: 30px;
  }

  .feature-title {
    font-weight: 400;
    font-size: 34px;
    margin-bottom: 5px;
  }

  .feature-description {
    font-size: 27px;
  }
}

.mac {
  .teaser {
    font-size: 50px;
    width: 1000px;
    position: absolute;
    left: 50px;
    top: 50px;
  }

  .logo {
    position: absolute;
    left: 50px;
    bottom: 50px;
  }

  .overview {
    .mock {
      width: 1000px;
      position: absolute;
      right: 50px;
      bottom: 50px;
    }

    .screenshot {
      width: 700px;
      position: absolute;
      left: 540px;
      top: 265px;
    }
  }

  .edit {
    .mock {
      width: 1000px;
      position: absolute;
      right: 50px;
      bottom: 50px;
    }

    .screenshot {
      width: 700px;
      position: absolute;
      left: 540px;
      top: 265px;
    }
  }

  .features-sidebyside {
    padding: 10px;
  }

  .features-title {
    font-size: 40px;
    font-weight: 400;
    margin: 20px 20px 0px;
  }

  .features {
    padding: 10px;
  }

  .feature {
    margin-top: 30px;
  }

  .feature-icon {
    font-size: 60px;
    min-width: 90px;
    padding-top: 20px;
  }

  .feature-details {
    margin-left: 30px;
  }

  .feature-title {
    font-weight: 400;
    font-size: 34px;
    margin-bottom: 5px;
  }

  .feature-description {
    font-size: 30px;
  }
}